<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.1.xsd">
   
  <!--  <context:annotation-config />
   <bean id ="student1" class ="DemoOnSpring.DemoOnSpringS7.Student">
   <constructor-arg value="1" type ="int"> </constructor-arg>
   <constructor-arg value="Priyanshu" type ="String"></constructor-arg>
   </bean>
   
   <bean id ="student2" class ="DemoOnSpring.DemoOnSpringS7.Student">
   <constructor-arg value="2" type ="int"> </constructor-arg>
   <constructor-arg value="Nikhil" type ="String"></constructor-arg>
   </bean>
  
    <bean  id = "college1" class = "DemoOnSpring.DemoOnSpringS7.College">
    <property name="Cname" value ="KLU" ></property>
    <property name="stud" ref="student1"></property>
    </bean>
    
    <bean  id = "college2" class = "DemoOnSpring.DemoOnSpringS7.College">
    <property name="Cname" value ="KLEF" ></property>
    <property name="stud" ref="student2"></property>
    </bean>
    -->
    
      <!-- Create  Bean for Employee class for constructor DI(primitive data Type) -->  
      <bean id ="emp1" class ="DemoOnSpring.DemoOnSpringS7.Employee">
      <constructor-arg value ="32676" type ="int"/>
      <constructor-arg value ="kumar" type ="String"/>
      <constructor-arg value ="3200.5" type ="double"/>
      <constructor-arg value ="true" type ="boolean"/>
      </bean>
      
      <bean id ="emp2" class ="DemoOnSpring.DemoOnSpringS7.Employee">
      <constructor-arg value ="32677" type ="int"/>
      <constructor-arg value ="priyanshu" type ="String"/>
      <constructor-arg value ="7200.5" type ="double"/>
      <constructor-arg value ="false" type ="boolean"/>
      </bean>
    
    <!-- Create  Bean for Engine and Car class for constructor DI(Non primitive data Type) --> 
    <!--  Create a Engine Bean -->
   <bean id="engineBeanOb" class="DemoOnSpring.DemoOnSpringS7.Engine">
   <constructor-arg value="CNG" type="String"/>
   </bean>
	<!--  Create a Car Bean -->
	<bean id="carBeanOb" class="DemoOnSpring.DemoOnSpringS7.Car">
	<constructor-arg  ref="engineBeanOb"/>
	</bean>
    
    
    
    <!-- Create  Bean for Employee1 class for Setter DI-->      
    <bean id="emp1Bean" class="DemoOnSpring.DemoOnSpringS7.Employee1">
    <!-- For setter Dependency injection the <property></property> tag is used to insert the value -->
    <property name ="empID" value ="1" />
    <property name ="empName" value ="Priyanshu"/>
    <property name ="empSalary" value ="999999.9"/>
    <property name ="empActive" value ="true"/>
    
    <!-- Injecting List values -->
    <property name ="empSkills">  <!-- property contains two things 1st one is name and 2nd one is value -->
    <list>
    <value>java</value>
    <value>Operating system</value>
    <value>spring</value>  
    </list> 
    </property>
    </bean>
     
    
    <bean id="emp2Bean" class="DemoOnSpring.DemoOnSpringS7.Employee1">
    <!-- For setter Dependency injection the <property></property> tag is used to insert the value -->
    <property name ="empID" value ="2" />
    <property name ="empName" value ="Priyanshu verma"/>
    <property name ="empSalary" value ="50000.9"/>
    <property name ="empActive" value ="false"/>
    
    <!-- Injecting List values -->
    <property name ="empSkills">  <!-- property contains two things 1st one is name and 2nd one is value -->
    <list>
    <value>Oops</value>
    <value>Full Stack</value>
    <value>DBMS</value> 
    <value>Computer network</value>   
    </list> 
    </property>
    </bean>
     
     <bean id ="emp3Bean" class ="DemoOnSpring.DemoOnSpringS7.Employee1">
     <property name="empID" value ="3"/>
     <property name="empName" value ="Aryan"/>
     <property name ="empSalary" value ="10000"/>
     <property name ="empActive" value ="true"/>
     
      <!-- Injecting List values -->
     <property name ="empSkills">  <!-- property contains two things 1st one is name and 2nd one is value -->
    <list>
    <value>IOT</value>
    <value>Gen-ai</value>
    <value>oops</value> 
    <value>Computer network</value>   
    </list> 
    </property>
     
     </bean>
</beans>